#header {
    height: 100px;
    width: 100%;
    background: #f2f2f2;
    border-bottom: 1px solid #ccc;
    border-top: 5px solid #f13e3e;
}

.center {
    width: 75%;
    margin: 0px auto;
}

.clearfix {
    clear: both;
    float: none;
}

#logo {
    width: 30%;
    font-size: 30px;
    float: left;
    margin-top: 28px;
}

#logo img {
    display: block;
    float: left;
    height: 70px;
    margin-top: -9px;
    margin-right: 10px;
    margin-bottom: 5px;
    animation: latir infinite 5s linear;
}

@keyframes latir {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.02, 1.02);
    }
    55% {
        transform: scale(0.95, 0.95);
    }
    100% {
        transform: scale(1, 1);
    }
}

@media (max-width: 813px) {
    #logo {
        float: none;
    }
    img {
        width: 260px;
    }
}

@media (max-width: 323px) {
    #logo {
        float: none;
    }
    img {
        width: 200px;
    }
}

.btn-success {
    background: rgb(23, 150, 19);
}

.btn-success:hover {
    background: black;
}


@media(max-width:770px) {
    .modal {
        padding: 0px !important;
    }
    .modal .modal-dialog {
        margin: 10px !important;
    }
}

@media(max-width:1000px) {
    .modal .col-md-10 {
        width: 100% !important;
    }
}

@media(max-width:1000px) {
    .modal .modal-body {
        flex-wrap: wrap;
    }
    .modal .seccion1,
    .modal .seccion2 {
        flex: 0 1 100% !important;
        height: 100%;
    }
    .modal #marca_general {
        display: flex !important;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .modal #marca_general .principal-nav {
        display: flex;
        flex-direction: column;
        flex: 0 1 30%;
    }
}

@media(max-width:500px) {
    .modal .modal-body {
        flex-wrap: wrap;
    }
    .modal .seccion1,
    .modal .seccion2 {
        flex: 0 1 100% !important;
    }
    .modal #marca_general {
        display: flex !important;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .modal #marca_general .principal-nav {
        display: flex;
        flex-direction: column;
        flex: 0 1 100%;
    }
    .modal .col-md-10 {
        width: 100% !important;
    }
}

.modal .modal-title {
    font-size: 15px;
    margin: auto;
}

.filledInputs {
    background-color: red;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.linea {
    margin-left: 10px;
    margin-right: 10px;
}

.fa-file-pdf-o{
    color: red !important;
}

.fa-file-excel-o {
    color: green !important;
}

.fa-file-powerpoint-o{
    color: red !important;
}

.fa-file-word-o {
    color: blue !important;
}

.fa-file-o{
    color: black !important;
}